<h2>{{ isEdit ? 'Edit' : 'Add' }} Employee</h2>
<form (ngSubmit)="save()">
  <div>
    <label>Name:</label>
    <input [(ngModel)]="employee.name" name="name" required>
  </div>
  <div>
    <label>Email:</label>
    <input [(ngModel)]="employee.email" name="email" required type="email">
  </div>
  <div>
    <label>Mobile Number:</label>
    <input [(ngModel)]="employee.mobileNumber" name="mobileNumber" required>
  </div>
  <div>
    <label>Home Address:</label>
    <input [(ngModel)]="employee.homeAddress" name="homeAddress" required>
  </div>
  <div>
    <label>Photo URL:</label>
    <input [(ngModel)]="employee.photo" name="photo">
  </div>
  <button type="submit">{{ isEdit ? 'Update' : 'Save' }}</button>
</form>
